@font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/Roboto-Medium.ttf); }

.icon-icon-basket-hover {
  background-image: url(../img/sprite.png);
  background-position: 0px -100px;
  width: 15px;
  height: 15px; }

.icon-icon-basket {
  background-image: url(../img/sprite.png);
  background-position: 0px -210px;
  width: 15px;
  height: 15px; }

.icon-icon-check-off {
  background-image: url(../img/sprite.png);
  background-position: 0px -451px;
  width: 23px;
  height: 23px; }

.icon-icon-check-on {
  background-image: url(../img/sprite.png);
  background-position: 0px -388px;
  width: 27px;
  height: 23px; }

.icon-icon-circle-dot {
  background-image: url(../img/sprite.png);
  background-position: 0px -514px;
  width: 25px;
  height: 25px; }

.icon-icon-circle {
  background-image: url(../img/sprite.png);
  background-position: 0px -579px;
  width: 25px;
  height: 25px; }

.icon-icon-facebook {
  background-image: url(../img/sprite.png);
  background-position: 0px -326px;
  width: 12px;
  height: 22px; }

.icon-icon-filter {
  background-image: url(../img/sprite.png);
  background-position: 0px -50px;
  width: 11px;
  height: 10px; }

.icon-icon-filter-green {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 11px;
  height: 10px; }

.icon-icon-instagramm {
  background-image: url(../img/sprite.png);
  background-position: 0px -265px;
  width: 21px;
  height: 21px; }

.icon-icon-vk {
  background-image: url(../img/sprite.png);
  background-position: 0px -155px;
  width: 26px;
  height: 15px; }

.header {
  width: 100%;
  background: #eee; }
  .header__inner {
    width: 880px;
    padding: 25px 10px 35px 10px;
    margin: 0 auto; }
    .header__inner::after {
      content: "";
      display: block;
      clear: both; }
  .header__logo {
    margin-right: 135px;
    float: left; }
  .header__nav {
    float: left;
    padding-top: 25px; }
  .header__menu {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0; }
  .header__item {
    display: inline-block;
    vertical-align: top; }
  .header__link {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    padding: 25px 25px 15px 25px; }
    .header__link:hover {
      color: #fb565a; }
    .header__link:active {
      color: rgba(0, 0, 0, 0.4); }
    .header__link--active {
      position: relative;
      font-size: 14px;
      line-height: 30px;
      text-transform: uppercase;
      text-decoration: none;
      color: #000;
      padding: 25px 25px 15px 25px; }
      .header__link--active::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 25px;
        right: 25px;
        height: 2px;
        background: #fb565a; }
  .header__basket {
    position: relative;
    float: right;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px 0 15px 25px;
    color: #000; }
    .header__basket:hover {
      color: #fb565a; }
    .header__basket:active {
      color: rgba(0, 0, 0, 0.4); }
    .header__basket::before {
      content: '';
      display: block;
      position: absolute;
      top: 33px;
      left: 0;
      background-image: url(../img/sprite.png);
      background-position: 0px -210px;
      width: 15px;
      height: 15px; }
    .header__basket:hover::before {
      content: '';
      display: block;
      position: absolute;
      top: 33px;
      left: 0;
      background-image: url(../img/sprite.png);
      background-position: 0px -100px;
      width: 15px;
      height: 15px; }
    .header__basket:active::before {
      content: '';
      display: block;
      position: absolute;
      top: 33px;
      left: 0;
      background-image: url(../img/sprite.png);
      background-position: 0px -210px;
      width: 15px;
      height: 15px;
      opacity: .4; }
    .header__basket--current {
      position: relative;
      float: right;
      font-size: 14px;
      line-height: 30px;
      text-transform: uppercase;
      text-decoration: none;
      padding: 25px 0 15px 25px;
      color: #000; }
      .header__basket--current:hover {
        color: #fb565a; }
      .header__basket--current:active {
        color: rgba(0, 0, 0, 0.4); }
      .header__basket--current::before {
        content: '';
        display: block;
        position: absolute;
        top: 33px;
        left: 0;
        background-image: url(../img/sprite.png);
        background-position: 0px -210px;
        width: 15px;
        height: 15px; }
      .header__basket--current:hover::before {
        content: '';
        display: block;
        position: absolute;
        top: 33px;
        left: 0;
        background-image: url(../img/sprite.png);
        background-position: 0px -100px;
        width: 15px;
        height: 15px; }
      .header__basket--current:active::before {
        content: '';
        display: block;
        position: absolute;
        top: 33px;
        left: 0;
        background-image: url(../img/sprite.png);
        background-position: 0px -210px;
        width: 15px;
        height: 15px;
        opacity: .4; }
      .header__basket--current::after {
        position: absolute;
        content: '';
        display: block;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background: #fb565a; }

.slider {
  width: 100%;
  background: #eee;
  margin-bottom: 80px; }
  .slider__inner {
    position: relative;
    width: 880px;
    height: 310px;
    margin: 0 auto; }
  .slider .slider__toggle-1:checked ~ .slider__control .slider__sign-1 {
    background: #c1c1c1; }
  .slider .slider__toggle-2:checked ~ .slider__control .slider__sign-2 {
    background: #c1c1c1; }
  .slider .slider__toggle-3:checked ~ .slider__control .slider__sign-3 {
    background: #c1c1c1; }
  .slider__toggle {
    position: absolute;
    opacity: 0; }
  .slider__control {
    position: absolute;
    bottom: 95px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 10px;
    font-size: 0;
    z-index: 1000; }
  .slider__sign {
    display: inline-block;
    vertical-align: top;
    width: 4px;
    height: 4px;
    margin: 0 5px;
    background: #fff;
    border: 3px solid #fff;
    border-radius: 50%;
    cursor: pointer; }
  .slider__slide {
    position: absolute;
    top: 0;
    left: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none; }
    .slider__slide:nth-child(1) {
      background-image: url("../img/slider/slide-1.png");
      background-repeat: no-repeat;
      background-position: 100% 10px; }
    .slider__slide:nth-child(2) {
      background-image: url("../img/slider/slide-2.png");
      background-repeat: no-repeat;
      background-position: 100% 15px; }
    .slider__slide:nth-child(3) {
      background-image: url("../img/slider/slide-3.png");
      background-repeat: no-repeat;
      background-position: 100% 100%; }
  .slider__text {
    width: 465px;
    padding: 30px 0; }
  .slider__title {
    font-size: 36px;
    line-height: 36px; }
  .slider__promo {
    font-size: 16px;
    line-height: 22px;
    margin: 12px 0 30px 0;
    color: #283136; }
  .slider__btn {
    display: block;
    width: 240px;
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: #fb565a;
    border-radius: 3px; }
    .slider__btn:hover {
      background: #d6494d; }
  .slider .slider__toggle-1:checked ~ .slider__slides .slider__slide-1 {
    display: block; }
  .slider .slider__toggle-2:checked ~ .slider__slides .slider__slide-2 {
    display: block; }
  .slider .slider__toggle-3:checked ~ .slider__slides .slider__slide-3 {
    display: block; }

.features {
  width: 880px;
  margin: 0 auto 60px auto;
  padding: 0 10px 80px 10px;
  border-bottom: 2px solid #eee; }
  .features::after {
    content: "";
    display: block;
    clear: both; }
  .features__item {
    float: left;
    width: 240px;
    margin-right: 80px; }
    .features__item:last-child {
      margin: 0; }
  .features__title {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 20px 0; }
  .features__promo {
    font-size: 15px;
    line-height: 22px;
    color: #283136;
    margin: 0; }
  .features__btn-red {
    display: block;
    width: 140px;
    padding: 10px 0;
    margin-top: 26px;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: #fb565a;
    border-radius: 3px; }
    .features__btn-red:hover {
      background: #d6494d; }
    .features__btn-red:active {
      background: #b63538; }
  .features__btn-green {
    display: block;
    width: 140px;
    padding: 10px 0;
    margin-top: 26px;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: #00ca74;
    border-radius: 3px; }
    .features__btn-green:hover {
      background: #01a25e; }
    .features__btn-green:active {
      background: #009053; }
  .features__btn-yellow {
    display: block;
    width: 140px;
    padding: 10px 0;
    margin-top: 26px;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: #efc84a;
    border-radius: 3px; }
    .features__btn-yellow:hover {
      background: #d6ae2c; }
    .features__btn-yellow:active {
      background: #c09b24; }

.presentation {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px; }
  .presentation__content {
    margin-bottom: 55px; }
    .presentation__content::after {
      content: "";
      display: block;
      clear: both; }
    .presentation__content:last-child {
      margin-bottom: 75px; }
  .presentation__left {
    float: left;
    width: 620px; }
  .presentation__right {
    float: right;
    width: 240px; }
  .presentation__title {
    font-size: 36px;
    line-height: 36px;
    margin: 15px 0 20px 0; }
  .presentation__promo {
    font-size: 16px;
    line-height: 22px;
    color: #283136;
    margin: 0; }
  .presentation__list {
    padding: 0;
    margin: 0;
    list-style: none; }
  .presentation__list-title {
    font-size: 16px;
    line-height: 22px;
    color: #283136;
    text-transform: uppercase;
    margin: 0 0 30px 0; }
  .presentation__item {
    position: relative;
    font-size: 16px;
    line-height: 22px;
    color: #283136;
    padding-left: 35px;
    margin-bottom: 30px; }
    .presentation__item::before {
      position: absolute;
      left: 0;
      top: 10px;
      content: '';
      display: block;
      width: 25px;
      height: 2px;
      background: #fb565a; }

.clients {
  width: 880px;
  padding: 45px 10px 0 10px;
  margin: 0 auto 85px auto;
  height: 120px;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee; }
  .clients__client {
    display: inline-block;
    vertical-align: middle;
    opacity: .2; }
    .clients__client:first-child {
      margin-left: 10px; }
    .clients__client:nth-child(2) {
      margin: 0 120px; }
    .clients__client:last-child {
      margin-right: 10px; }
    .clients__client:hover {
      opacity: 1; }

.address {
  position: relative;
  width: 100%;
  height: 420px; }
  .address__inner {
    position: absolute;
    width: 880px;
    height: 0;
    padding: 0 10px;
    margin-left: -450px;
    left: 50%;
    z-index: 1000; }
  .address__contacts {
    width: 205px;
    padding: 25px 25px 25px 20px;
    margin-top: 90px;
    background: #fff;
    box-shadow: -8px 8px 20px 0 #d5d5d5; }
  .address__text {
    font-size: 16px;
    line-height: 20px;
    color: #666;
    margin: 0 0 30px 0; }
  .address__title {
    font-size: 16px;
    line-height: 30px;
    color: #000;
    margin: 0 0 25px 0; }
  .address__content {
    margin: 0 0 25px 0; }
  .address__btn {
    display: block;
    width: 200px;
    padding: 12px 0;
    margin: 0 0 0 5px;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: #fb565a;
    border-radius: 3px; }
    .address__btn:hover {
      background: #d6494d; }

.footer {
  width: 880px;
  height: 220px;
  padding: 0 10px;
  margin: 0 auto; }
  .footer::after {
    content: "";
    display: block;
    clear: both; }
  .footer__social {
    float: left;
    width: 300px;
    padding: 80px 0;
    margin-right: 20px;
    font-size: 0; }
  .footer__vk {
    display: inline-block;
    margin-right: 25px;
    width: 60px;
    height: 60px;
    background: #e1e1e1;
    border-radius: 50%;
    background-image: url(../img/sprite.png);
    background-position: 17px -131px;
    background-repeat: no-repeat; }
    .footer__vk:hover {
      background: #fb565a;
      background-image: url(../img/sprite.png);
      background-position: 17px -131px;
      background-repeat: no-repeat; }
    .footer__vk:active {
      background: #d6494d;
      background-image: url(../img/sprite.png);
      background-position: 17px -131px;
      background-repeat: no-repeat; }
  .footer__fb {
    display: inline-block;
    margin-right: 25px;
    width: 60px;
    height: 60px;
    background: #e1e1e1;
    border-radius: 50%;
    background-image: url(../img/sprite.png);
    background-position: 24px -306px;
    background-repeat: no-repeat; }
    .footer__fb:hover {
      background: #fb565a;
      background-image: url(../img/sprite.png);
      background-position: 24px -306px;
      background-repeat: no-repeat; }
    .footer__fb:active {
      background: #d6494d;
      background-image: url(../img/sprite.png);
      background-position: 24px -306px;
      background-repeat: no-repeat; }
  .footer__inst {
    display: inline-block;
    margin-right: 60px;
    width: 60px;
    height: 60px;
    background: #e1e1e1;
    border-radius: 50%;
    background-image: url(../img/sprite.png);
    background-position: 19.5px -245px;
    background-repeat: no-repeat; }
    .footer__inst:hover {
      background: #fb565a;
      background-image: url(../img/sprite.png);
      background-position: 19.5px -245px;
      background-repeat: no-repeat; }
    .footer__inst:active {
      background: #d6494d;
      background-image: url(../img/sprite.png);
      background-position: 19.5px -245px;
      background-repeat: no-repeat; }
  .footer__text {
    float: right;
    width: 560px;
    padding: 71px 0; }
  .footer__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 20px 0; }
  .footer__promo {
    font-size: 16px;
    line-height: 22px;
    margin: 0; }

.banner {
  width: 100%;
  background: #eee;
  margin-bottom: 80px; }
  .banner__inner {
    width: 880px;
    padding: 0 10px;
    margin: 0 auto; }
  .banner__title {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 30px 0 90px 0; }

.content {
  width: 880px;
  padding: 0 10px;
  margin: 0 auto 80px auto; }
  .content::after {
    content: "";
    display: block;
    clear: both; }
  .content__column-left {
    float: left;
    width: 240px; }
  .content__form-title {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0 0 15px 0; }
  .content__form-filter {
    width: 240px;
    margin-bottom: 45px; }
  .content__form-control {
    position: relative;
    padding: 39px 20px;
    margin-bottom: 15px;
    background: #f1f1f1;
    border-radius: 5px; }
  .content__form-scale {
    height: 2px;
    background: #d7dcde; }
  .content__form-bar {
    width: 70%;
    height: 2px;
    background: #00ca74; }
  .content__form-controller {
    position: absolute;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #fff;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
    top: 30px;
    left: 0; }
  .content__form-controller-min {
    left: 20px; }
  .content__form-controller-max {
    left: 160px; }
  .content__form-price {
    font-size: 0; }
  .content__form-signature {
    display: inline-block;
    width: 50%;
    font-size: 16px;
    line-height: 22px;
    color: #283136; }
  .content__form-signature:last-child {
    text-align: right; }
  .content__form-signature input {
    font-family: 'Roboto-Medium', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #283136;
    text-align: center;
    width: 60px;
    padding: 8px 10px;
    border: none;
    outline: none;
    background: #f1f1f1;
    border-radius: 3px;
    margin-left: 10px; }
  .content__radio-box {
    width: 240px;
    margin-bottom: 45px; }
  .content__radio-title {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0 0 15px 0; }
  .content__radio-list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .content__radio-element {
    margin-bottom: 15px; }
  .content__radio-element input {
    display: none; }
  .content__radio-element label {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 25px;
    color: #283136;
    padding-left: 35px;
    cursor: pointer; }
  .content__radio-element label::before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    background-image: url(../img/sprite.png);
    background-position: 0px -579px;
    width: 25px;
    height: 25px; }
  .content__radio-element input:checked + label::before {
    background-image: url(../img/sprite.png);
    background-position: 0px -514px;
    width: 25px;
    height: 25; }
  .content__checkbox {
    width: 240px;
    margin-bottom: 60px; }
  .content__checkbox-title {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0 0 15px 0; }
  .content__checkbox-list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .content__checkbox-element {
    margin-bottom: 15px; }
  .content__checkbox-element input {
    display: none; }
  .content__checkbox-element label {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 23px;
    color: #283136;
    padding-left: 35px;
    cursor: pointer; }
  .content__checkbox-element label::before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    background-image: url(../img/sprite.png);
    background-position: 0px -451px;
    width: 23px;
    height: 23px; }
  .content__checkbox-element input:checked + label::before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    background-image: url(../img/sprite.png);
    background-position: 0px -388px;
    width: 27px;
    height: 23px; }
  .content__btn {
    display: block;
    width: 155px;
    font-size: 12px;
    line-height: 18px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 12px 0;
    background: #f1f1f1;
    border-radius: 3px; }
  .content__column-right {
    float: right;
    width: 560px; }
  .content__sort-block {
    width: 560px;
    margin-bottom: 20px; }
    .content__sort-block::after {
      content: "";
      display: block;
      clear: both; }
  .content__sort-list {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none; }
  .content__sort-title {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    margin-right: 40px; }
  .content__sort-item {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    margin-right: 45px; }
  .content__sort-link {
    display: block;
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px dashed #00ca74; }
    .content__sort-link:hover {
      color: #000;
      border-bottom: 1px solid #00ca74; }
    .content__sort-link:active {
      color: #000;
      border: none; }
    .content__sort-link--active {
      display: block;
      font-size: 12px;
      line-height: 18px;
      color: #000;
      text-transform: uppercase;
      text-decoration: none;
      border: none; }
  .content__sort-indicator {
    float: right;
    position: relative;
    width: 30px;
    height: 10px;
    margin-top: 3px; }
  .content__sort-indicator::before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    background-image: url(../img/sprite.png);
    background-position: 0px 0px;
    width: 11px;
    height: 10px; }
  .content__sort-indicator::after {
    position: absolute;
    content: '';
    display: block;
    right: 0;
    background-image: url(../img/sprite.png);
    background-position: 0px -50px;
    width: 11px;
    height: 10px;
    opacity: .2;
    transform: rotate(180deg); }
  .content__goods::after {
    content: "";
    display: block;
    clear: both; }
  .content__goods-item {
    position: relative;
    float: left;
    width: 240px;
    margin: 0 80px 80px 0; }
    .content__goods-item:hover .content__goods-head {
      background: #797979; }
    .content__goods-item:hover .content__product {
      display: block; }
  .content__goods-item:nth-child(2n) {
    margin-right: 0; }
  .content__goods-head {
    position: relative;
    width: 240px;
    height: 30px;
    background: #f1f1f1;
    border-radius: 5px 5px 0 0; }
  .content__goods-circle {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    top: 10px;
    left: 12px; }
  .content__goods-circle:nth-child(2) {
    left: 28px; }
  .content__goods-circle:nth-child(3) {
    left: 44px; }
  .content__product {
    display: none;
    position: absolute;
    top: 50px;
    left: 20px;
    width: 140px;
    padding: 30px 30px 30px 30px;
    background: #fff; }
  .content__product-text {
    margin-bottom: 30px;
    text-align: center; }
  .content__product-title {
    font-size: 18px;
    line-height: 18px;
    display: block;
    margin-bottom: 18px; }
  .content__product-description {
    font-size: 14px;
    line-height: 18px;
    margin: 0; }
  .content__product-btn {
    display: block;
    width: 140px;
    font-size: 18px;
    line-height: 18px;
    padding: 11px 0;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background: #fb565a;
    border-radius: 3px; }
    .content__product-btn:hover {
      background: #d6494d; }
    .content__product-btn:active {
      background: #b63538; }
  .content__pagination::after {
    content: "";
    display: block;
    clear: both; }
  .content__pagination-list {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0; }
  .content__pagination-item {
    display: inline-block; }
  .content__pagination-link {
    display: block;
    width: 40px;
    font-size: 12px;
    line-height: 16px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 0;
    text-align: center;
    background: #f1f1f1;
    border-radius: 3px;
    margin-right: 10px; }
    .content__pagination-link:hover {
      background: #e5e5e5; }
    .content__pagination-link:active {
      background: #d5d5d5;
      box-shadow: inset 0 3px 0 0 #b5b5b5; }
    .content__pagination-link--active {
      display: block;
      width: 40px;
      font-size: 12px;
      line-height: 16px;
      color: #000;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      padding: 12px 0;
      background: #fff;
      box-shadow: inset 0 0 0 2px #f2f2f2;
      border-radius: 3px;
      margin-right: 10px;
      cursor: default; }
  .content__pagination-btn {
    float: left;
    display: block;
    width: 140px;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 0;
    border: none;
    outline: none;
    background: #f1f1f1;
    border-radius: 3px; }
    .content__pagination-btn:hover {
      background: #e5e5e5; }
    .content__pagination-btn:active {
      background: #d5d5d5;
      box-shadow: inset 0 3px 0 0 #b5b5b5; }

.modalWindow {
  display: none;
  position: fixed;
  left: 50%;
  bottom: 240px;
  margin-left: -315px;
  width: 630px;
  height: 416px;
  background: #fff;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
  z-index: 2000; }
  .modalWindow__close {
    position: absolute;
    top: 6px;
    right: 6px;
    background: url("../img/sprite/icon-close.png") no-repeat;
    width: 41px;
    height: 41px;
    cursor: pointer; }
  .modalWindow__form {
    width: 460px;
    margin: 55px auto 0 auto; }
    .modalWindow__form::after {
      content: "";
      display: block;
      clear: both; }
  .modalWindow__signature {
    font-size: 16px;
    line-height: 18px;
    width: 220px;
    margin: 0 0 23px 0; }
  .modalWindow__signature:last-child {
    margin: 0; }
  .modalWindow .modalWindow__signature-name {
    float: left; }
  .modalWindow .modalWindow__signature_mail {
    float: right; }
  .modalWindow__data {
    width: 201px;
    border: 2px solid #d7dcde;
    padding: 7.5px;
    margin: 12px 0 0 0;
    text-transform: uppercase; }
    .modalWindow__data:hover {
      border: 2px solid #a2a9ac; }
    .modalWindow__data:focus {
      border: 2px solid #56bffb;
      outline: none; }
  .modalWindow__data::-webkit-input-placeholder {
    color: #000;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase; }
  .modalWindow__data-text {
    width: 426px;
    height: 86px;
    border: 2px solid #d7dcde;
    padding: 12px 15px;
    margin: 12px 0 40px 0;
    text-transform: uppercase;
    resize: none; }
    .modalWindow__data-text:hover {
      border: 2px solid #a2a9ac; }
    .modalWindow__data-text:focus {
      border: 2px solid #56bffb;
      outline: none; }
  .modalWindow__data-text::-webkit-input-placeholder {
    color: #000;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    outline: none; }
  .modalWindow__btn {
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    background: #fb565a;
    padding: 10px 0;
    border: none;
    outline: none;
    width: 460px;
    border-radius: 3px; }

.modalWindow-show {
  display: block;
  animation-name: flipInX;
  animation-duration: .75s; }

.modalWindow-error {
  animation-name: rubberBand;
  animation-duration: .75s; }

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    transform: perspective(400px); } }

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

body {
  font-family: 'Roboto-Medium', Helvetica, sans-serif;
  color: #000; }
