.icon-icon-basket-hover {
  background-image: url(../img/sprite.png);
  background-position: 0px -100px;
  width: 15px;
  height: 15px;
}
.icon-icon-basket {
  background-image: url(../img/sprite.png);
  background-position: 0px -210px;
  width: 15px;
  height: 15px;
}
.icon-icon-check-off {
  background-image: url(../img/sprite.png);
  background-position: 0px -451px;
  width: 23px;
  height: 23px;
}
.icon-icon-check-on {
  background-image: url(../img/sprite.png);
  background-position: 0px -388px;
  width: 27px;
  height: 23px;
}
.icon-icon-circle-dot {
  background-image: url(../img/sprite.png);
  background-position: 0px -514px;
  width: 25px;
  height: 25px;
}
.icon-icon-circle {
  background-image: url(../img/sprite.png);
  background-position: 0px -579px;
  width: 25px;
  height: 25px;
}
.icon-icon-facebook {
  background-image: url(../img/sprite.png);
  background-position: 0px -326px;
  width: 12px;
  height: 22px;
}
.icon-icon-filter  {
  background-image: url(../img/sprite.png);
  background-position: 0px -50px;
  width: 11px;
  height: 10px;
}
.icon-icon-filter-green {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 11px;
  height: 10px;
}
.icon-icon-instagramm {
  background-image: url(../img/sprite.png);
  background-position: 0px -265px;
  width: 21px;
  height: 21px;
}
.icon-icon-vk {
  background-image: url(../img/sprite.png);
  background-position: 0px -155px;
  width: 26px;
  height: 15px;
}
