$light-red: #fb565a;
$normal-red: #d6494d;
$height-red: #b63538;
$light-green: #00ca74;
$normal-green: #01a25e;
$height-green: #009053;
$light-yellow: #efc84a;
$normal-yellow: #d6ae2c;
$height-yellow: #c09b24;
$white: #ffffff;
$height-white: #f1f1f1;
$height-white-2: #f2f2f2;
$opacity-black-1: rgba(000, 000, 000, .3);
$opacity-black: rgba(000, 000, 000, .4);
$light-black: #283136;
$black: #000000;
$opacity-gray: #666666;
$light-gray: #d7dcde;
$gray: #eeeeee;
$height-gray: #e1e1e1;

$color-1: #ababab;
$color-2: #cfcfcf;
$color-3: #e5e5e5;
$color-4: #d5d5d5;
$color-5: #b5b5b5;
$color-6: #797979;
