.clients {
  width: 880px;
  padding: 45px 10px 0 10px;
  margin: 0 auto 85px auto;
  height: 120px;
  border-top: 2px solid $gray;
  border-bottom: 2px solid $gray;

  &__client {
    display: inline-block;
    vertical-align: middle;
    opacity: .2;
      &:first-child {
        margin-left: 10px
      }
      &:nth-child(2) {
        margin: 0 120px;
      }
      &:last-child {
        margin-right: 10px;
      }
      &:hover {
        opacity: 1;
      }
  }
}
