.footer {
  width: 880px;
  height: 220px;
  padding: 0 10px;
  margin: 0 auto;
  @include clearfix;

    &__social {
      float: left;
      width: 300px;
      padding: 80px 0;
      margin-right: 20px;
      font-size: 0;
    }

    &__vk {
      display: inline-block;
      margin-right: 25px;
      width: 60px;
      height: 60px;
      background: $height-gray;
      border-radius: 50%;
      background-image: url(../img/sprite.png);
      background-position: 17px -131px;
      background-repeat: no-repeat;
        &:hover {
          background: $light-red;
          background-image: url(../img/sprite.png);
          background-position: 17px -131px;
          background-repeat: no-repeat;
        }
        &:active {
          background: $normal-red;
          background-image: url(../img/sprite.png);
          background-position: 17px -131px;
          background-repeat: no-repeat;
        }
    }

    &__fb {
      display: inline-block;
      margin-right: 25px;
      width: 60px;
      height: 60px;
      background: $height-gray;
      border-radius: 50%;
      background-image: url(../img/sprite.png);
      background-position: 24px -306px;
      background-repeat: no-repeat;
        &:hover {
          background: $light-red;
          background-image: url(../img/sprite.png);
          background-position: 24px -306px;
          background-repeat: no-repeat;
        }
        &:active {
          background: $normal-red;
          background-image: url(../img/sprite.png);
          background-position: 24px -306px;
          background-repeat: no-repeat;
        }
    }

    &__inst {
      display: inline-block;
      margin-right: 60px;
      width: 60px;
      height: 60px;
      background: $height-gray;
      border-radius: 50%;
      background-image: url(../img/sprite.png);
      background-position: 19.5px -245px;
      background-repeat: no-repeat;
        &:hover {
          background: $light-red;
          background-image: url(../img/sprite.png);
          background-position: 19.5px -245px;
          background-repeat: no-repeat;
        }
        &:active {
          background: $normal-red;
          background-image: url(../img/sprite.png);
          background-position: 19.5px -245px;
          background-repeat: no-repeat;
        }
    }

    &__text {
      float: right;
      width: 560px;
      padding: 71px 0;
    }

    &__title {
      font-size: 36px;
      line-height: 36px;
      margin: 0 0 20px 0;
    }

    &__promo {
      font-size: 16px;
      line-height: 22px;
      margin: 0;
    }
}
