.header {
  width: 100%;
  background: $gray;

  &__inner {
    width: 880px;
    margin: 0 auto;
    padding: 25px 10px 35px 10px;
    @include clearfix;
  }

  &__logo {
    float: left;
    margin-right: 135px;
  }

  &__nav {
    float: left;
    padding-top: 25px;
  }

  &__menu {
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;
    vertical-align: top;
  }

  &__link {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: $black;
    padding: 25px 25px 15px 25px;
      &:hover {
        color: $light-red;
      }
      &:active {
        color: $opacity-black;
      }
      &--active {
        position: relative;
        font-size: 14px;
        line-height: 30px;
        text-transform: uppercase;
        text-decoration: none;
        color: $black;
        padding: 25px 25px 15px 25px;
          &::after {
            content: '';
            display: block;
          	position: absolute;
          	bottom: 0;
          	left: 25px;
          	right: 25px;
          	height: 2px;
          	background: $light-red;
          }
      }
  }

  &__basket {
    position: relative;
    float: right;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px 0 15px 25px;
    color: $black;
      &:hover {
        color: $light-red;
      }
      &:active {
        color: $opacity-black;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 33px;
        left:0;
        background-image: url(../img/sprite.png);
        background-position: 0px -210px;
        width: 15px;
        height: 15px;
      }
      &:hover::before {
        content: '';
        display: block;
        position: absolute;
        top: 33px;
        left: 0;
        background-image: url(../img/sprite.png);
        background-position: 0px -100px;
        width: 15px;
        height: 15px;
      }
      &:active::before {
        content: '';
        display: block;
        position: absolute;
        top: 33px;
        left: 0;
        background-image: url(../img/sprite.png);
        background-position: 0px -210px;
        width: 15px;
        height: 15px;
        opacity: .4;
      }
      &--current {
        position: relative;
        float: right;
        font-size: 14px;
        line-height: 30px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 25px 0 15px 25px;
        color: $black;
        &:hover {
          color: $light-red;
        }
        &:active {
          color: $opacity-black;
        }
        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 33px;
          left:0;
          background-image: url(../img/sprite.png);
          background-position: 0px -210px;
          width: 15px;
          height: 15px;
        }
        &:hover::before {
          content: '';
          display: block;
          position: absolute;
          top: 33px;
          left: 0;
          background-image: url(../img/sprite.png);
          background-position: 0px -100px;
          width: 15px;
          height: 15px;
        }
        &:active::before {
          content: '';
          display: block;
          position: absolute;
          top: 33px;
          left: 0;
          background-image: url(../img/sprite.png);
          background-position: 0px -210px;
          width: 15px;
          height: 15px;
          opacity: .4;
        }
          &::after {
            position: absolute;
            content: '';
            display: block;
            left: 0;
            bottom: 15px;
            height: 2px;
            width: 100%;
            background: $light-red;
          }
      }
  }
}
